$color-primary:#55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-top: #393cdb80;
$color-gray:  #777777;
$color-white: #fff;
$color-black : #000;
$color-graylight_1: #f7f7f7;

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
// variables pour la grid
 $grid-width: 114rem;
 $espace-vertical: 8rem; 
 $espace-horizontal:6rem;
