.btn{
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-gray;
    padding: 1.5rem 4rem ;
    display: inline-block;
    transition: all .2s;
    border-radius: 5rem;
    position: relative ;
    font-size: 1.3rem;
  }

  &-white{
    background-color: $color-white;
    color:$color-gray; 
    animation-name: moveToTop ;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    
  }
  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0px 1rem 1rem rgba($color-black, .5);
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0px .5rem 1rem  rgba($color-black, .5);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ;
  }
  
  &-white::after{
     background-color: #fff
     
  }
  &:hover::after {
    transform: scaleX(1.8) scaleY(1.5);
    opacity: 0;
  }
}